body{
    background-color:#343434;
}

.first{
    width: 200px;
    height: 90px;
    background-color:#343434;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    border-radius: 50px;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second{
    width: 320px;
    height: 90px;
    background-color:#343434;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    border-radius: 50px;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.third{
    width: 200px;
    height: 100px;
    background-color:#343434;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    border-radius: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fourth{
    width: 200px;
    height: 100px;
    background-color:#343434;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    border-radius: 50px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.five{
    width: 200px;
    height: 100px;
    background-color:#343434;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    border-radius: 50px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.six{
    width: 200px;
    height: 100px;
    background-color:#343434;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    border-radius: 50px;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.seven{
    width: 200px;
    height: 100px;
    background-color:#343434;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    border-radius: 50px;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 #heading{
    color: rgb(255, 255, 255);
}


#myInput{
    margin-left: 33px;
    margin-top: 23px;
    height: 40px;
    width:250px;
    border-radius: 25px;
    font-size: 20px;
}
/*
#search{
    margin-left: 145px;
    margin-top: 10px;
    height: 90px;
    width:90px;
    border-radius: 100%;
    font-size: 20px;
    background-color: rgb(15, 194, 179);
    cursor: pointer;
}

#location{
    color: rgb(255, 255, 255);
    padding-left: 145px;
    padding-top: 20px;
}
#temp{
    color: rgb(255, 255, 255);
    padding-left: 145px;
    padding-top: 20px;
}
#description{
    color: rgb(255, 255, 255);
    padding-left: 145px;
    padding-top: 20px;
}
#image{
    color: rgb(255, 255, 255);
    padding-left: 165px;
    padding-top: 20px;
}
#error{
    color: rgb(255, 255, 255);
    padding-left: 80px;
    padding-top: 20px;
} */